.place__image {
    min-width: 320px;
    width: 100%;
    max-height: 320px;
    margin: 0 0 32px;
    object-fit: cover;
  }
  
  @media screen and (min-width: 768px) {
    .place__image {
      grid-area: image;
      min-width: 340px;
      max-height: 340px;
      margin: 0;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .place__image {
      min-width: 440px;
      max-height: 440px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .place__image {
      max-width: 460px;
      max-height: 460px;
    }
  }