.lead {
  min-width: calc(320px + (768 - 320) * ((100vw - 320px) / (768 - 320)));
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .lead {
    min-width: calc(768px + (928 - 768) * ((100vw - 768px) / (1024 - 768)));
  }
}

@media screen and (min-width: 1024px) {
  .lead {
    min-width: calc(928px + (984 - 928) * ((100vw - 1024px) / (1280 - 1024)));
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    min-width: 984px;
  }
}
