.cover__title {
    max-width: calc(288px + (360 - 288) * ((100vw - 320px) / (768 - 320)));
    font-size: 32px;
    line-height: 35px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0em;
    text-align: center;
    z-index: 2;
    margin: 0 0 16px;
  }
  
  @media screen and (min-width: 768px) {
    .cover__title {
      max-width: 560px;
      font-size: 72px;
      margin-bottom: 32px;
      line-height: 76px;
    }
  }