.footer__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin: 0;
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__list {
      display: block;
      margin-bottom: 48px;
    }
  }
  
  @media screen and (max-width: 319px) {
    .footer__list {
      display: block;
      margin-bottom: 48px;
    }
  }